body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.groub , nav{
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
.groub h1{
    color: #17a2b8;
    font-size: 40px;
}
.btn-outline-info:hover {
    color: #fff;
}
.groub p a{
    transition: all 0.5s;
}
.groub p a:hover{
    text-decoration: underline !important;
}
.form-control:focus {
    border-color: #80bdff;
    box-shadow: none;
}
.btn:hover{
    color: #fff !important;
}
.border-color-red{
    border-color:red ;
}
.success-color{
    color: #22c5c5;

}
.color-red{
    color: red;
}

