<form [formGroup]="driverForm" (ngSubmit)="create()">
  <div class="containr my-5 text-center">
    <div class="groub p-5 w-75 m-auto">
        <h1>New Driver</h1>
        <input type="text" formControlName="firstName" [ngModel]="Currentdriver?.firstName"
         class="form-control bg-transparent my-3 "
          placeholder="Enter your First Name" 
          [ngClass]="{'border-color-red':driverForm.get('firstName')?.invalid && driverForm.get('firstName')?.touched}"
          >
        <input type="text" formControlName="lastName" [ngModel]="Currentdriver?.lastName"
         class="form-control bg-transparent my-3 " placeholder="Enter your Last Name">

        <input type="text" class="form-control bg-transparent my-3 " placeholder="Enter your Phone"
        formControlName="phoneNumber" [ngModel]="Currentdriver?.phoneNumber"
        [ngClass]="{'border-color-red':driverForm.get('phoneNumber')?.invalid
         && driverForm.get('phoneNumber')?.touched}"

        >
        <div class="d-flex m-3">
          <span class="row success-color"
          [ngClass]="{'color-red':driverForm.get('phoneNumber')?.invalid
          &&driverForm.get('phoneNumber')?.hasError('pattern')&&driverForm.get('phoneNumber')?.touched }"
          >* Numbers Only</span>
         </div>
        <div class="d-flex m-3">
          <span class="row success-color"
          [ngClass]="{'color-red':driverForm.get('phoneNumber')?.invalid
          &&driverForm.get('phoneNumber')?.hasError('minlength')&&driverForm.get('phoneNumber')?.touched }"
          >* min length 8 Number</span>
         </div>
         <div class="d-flex m-3">
          <span class="row success-color"
          [ngClass]="{'color-red':driverForm.get('phoneNumber')?.invalid
          &&driverForm.get('phoneNumber')?.hasError('maxlength')&&driverForm.get('phoneNumber')?.touched }"
                >* max length 11 Number</span>
         </div>
         
         <input type="email" formControlName="email" [ngModel]="Currentdriver?.email"
         class="form-control bg-transparent my-3 " placeholder="Enter your email"
         [ngClass]="{'border-color-red':driverForm.get('email')?.invalid && driverForm.get('email')?.touched}"

         >
        <button *ngIf="!Currentdriver?.id" type="submit" class="btn btn-outline-info w-100 my-3"> Create</button>
        <button *ngIf="Currentdriver?.id" type="submit" class="btn btn-outline-info w-100 my-3"> Update</button>

    </div>
  </div>
</form>